<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/post"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Post {{post.id}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-item>
    <ion-label>
      <p>Titulo</p>
      {{post.titulo}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>Autor</p>
      {{post.autor}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap"> {{post.corpo}} </ion-label>
  </ion-item>
</ion-content>
