ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-button {
  margin-top: 10%
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
